body{
    margin: 0;
    padding: 0;
}
#title_div{
    height: 60px;
    width: 100%;
    background-color: #00fff3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title_name{
    font-size: 38px;
    font-family: 'Lobster', cursive;
    padding: 0 20px;
    color: #133379b0;
    text-shadow: 7px 3px 6px #0070fbf0;
}
#field{
    background-color: #ff003b7a;
    color: #730000f2;
    height: 100px;
}
#field_title {
    font-size: 24px;
    padding: 5px 20px;
    font-family: 'Indie Flower', cursive;
}
#sub_field{
    height: 50px;
    width: 100%;
    background-color: #ff003b00;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    height: 32px;
    font-size: 18px;
    outline: none;
    padding-left: 5px;
    color: #2d5592;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    font-family: 'Courgette', cursive;
}
#btn {
    font-size: 17px;
    color: #fff;
    background-color: #19cc19fa;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    height: 35px;
    border: none;
    cursor: pointer;
}
#list_search > span {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    padding: 5px 0;
}
#list_search {
    background-color: #19caff;
    height: 80px;
    color: #1a0fbd;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#list_head{
    background-color: #a9d7ff26;
    list-style: none;
    height: calc(100% - 300px); 
    overflow-y: auto;
    overflow-x: auto;
}
ul {
    list-style: none;
}
li{
    width: 90%;
    margin-left: 30px;
}
#ul_div {
    background-color: #00ffc4;
    overflow: hidden;
}
ol > li > .left_span, ul > li > .left_span {
    font-size: 18px;
    width: 50%;
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
}
ol > li > .right_span, ul > li > .right_span{
    font-size: 18px;
    width: 50%;
    display: inline-flex;
    align-content: flex-start;
    justify-content: center;
    float: right;
    align-items: center;
    margin-right: 10px;
    font-family: 'PT Sans', sans-serif;
}
ul > li > .left_span, ul > li > .right_span {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lemonada', cursive;
}
ol li:nth-child(even) {
    background-color: #00e7ff26;
    padding: 10px 0;
    border-radius: 5px;
}
ol li:nth-child(odd) {
    background-color: #f55f2538;
    padding: 10px 0;
    border-radius: 5px;
}
#error {
    font-size: 15px;
    color: #d00303;
    padding: 0 5px;
    border-radius: 5px;
}




